<div class="container-fluid container-fluid-custom">
    <h1>About Page </h1>
    <p>
        It is March 2024 . My name is Hamza and i am making this Nodejs Notes app for practice. Hope you like it.!!!! 
    </p>
</div>
